<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf- ">
        <title>Newspaper App</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/\bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
        <main>
        {% block content %}
        
        {% endblock content %}
        </main>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>